<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334805858613-3c712i8tpq40359dek0ejiia5al7irck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334805858613-3c712i8tpq40359dek0ejiia5al7irck</string>
	<key>API_KEY</key>
	<string>AIzaSyDeducAwjvBfuYAUJeBOG5D69w8uUuYdh8</string>
	<key>GCM_SENDER_ID</key>
	<string>334805858613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopyws.app</string>
	<key>PROJECT_ID</key>
	<string>shopy-25a24</string>
	<key>STORAGE_BUCKET</key>
	<string>shopy-25a24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334805858613:ios:8af524f90732fecb54347c</string>
</dict>
</plist>